html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
html .sr{
    visibility: hidden;
}
html{
  scroll-behavior: smooth ;
}
* {
    box-sizing: border-box;
    word-wrap:break-word;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: var(--sub-text);
}
body {
  font-family: 'Mulish', sans-serif;
  background-color: var(--bg-alt);
  color:var(--sub-text);

  --bg: #0d0c0c;
  --bg-alt: #121212;   
  --text: #eee;
  --sub-text: #ddd;
  --text-green: #5bd485;
  --burger: rgba(255, 255, 255, 0.829);
  --logo-bg: #1d1d1d;
  --intro: #1d1d1d;
  /* --intro: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(./img/siteheader3.jpg) no-repeat center center fixed;  */
  --headers: linear-gradient(45deg, #036c50, #5bd485);
  --form: rgba(238, 238, 238, 0.247), rgba(238, 238, 238, 0.247);
}
body.light-theme{
  --bg: #fafafa;
  --bg-alt: #f0f0f0;   
  --text: #1a1a1a;
  --sub-text: #090909;
  --text-green: #099268;
  --burger: #1a1a1a;
  --logo-bg: #f0f0f0;
  --intro: var(--bg);
  /* --intro: linear-gradient( rgba(240, 240, 240, 0.9), rgba(240, 240, 240, 0.9) ), url(./img/siteheader3.jpg) no-repeat center center fixed;  */
  --headers: linear-gradient(45deg, #036c50, #5bd485);
  --form: rgba(18, 18, 18, 0.247), rgba(18, 18, 18, 0.247);
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
section:before {
    height: 30px;
    content: "";
    display:block;
    visibility: hidden;
}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/
 .navbar{
	width: 100%;
	background: rgba(255, 255, 255, 0);
  position: fixed;
  z-index: 99;
	top: 0;
	left: 0;
  padding: 30px 45px;
  transition: 0.4s;
}

.navbar .inner_navbar{
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	width: 100%;
	height: 100%;
}

.burger{
    display: none;
    background-color: var(--bg-alt);
    padding: 5px;
    border-radius: 5px;
  }
  
.burger div{
  width: 25px;
  height: 2px;
  top: 30;
  background-color: var(--burger);
  margin: 5px;
  transition: all 0.3s ease;

}
.toggle .line1{
  transform: rotate(-20deg) translate(-1px, 3.3px);
}

.toggle .line3{
  transform: rotate(20deg) translate(-1px, -3.3px);
}
.navbar h1{
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 25px;
  font-size: 1.5em;
  margin: 0;
  padding: 1rem 1rem;
}
.navbar h1{
  margin-right: auto;
}
/* .navbar h1 img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
  padding: 6px;
  background-color: var(--bg);

} */

.navbar h1 a{
  display: inline-block;
  font-family: 'Paytone One', sans-serif;
	font-size: 24px;
  color: var(--text);
  border-radius: 25px;

}

.navbar h1 a span{
	color: var(--text-green);
}

.navbar .menu ul{
	display: flex;
}

.navbar .menu ul li a{
	width: auto;
	margin-right: 10px;
	display: block;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	color: var(--sub-text);
	text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
	transition: all 0.4s ease;
}

.navbar .menu ul li:last-child a{
	margin-right: 0;	
}

.navbar .menu ul li a:hover{
  color: var(--text-green);
}
.active{
  color: var(--text-green);
}
  
.affix {
  padding: 30px 40px;
  background: var(--bg);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.08);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.08);
  -webkit-transition:padding 0.4s linear;
  -moz-transition:padding 0.4s linear;  
  -o-transition:padding 0.4s linear;         
  transition:padding 0.4s linear; 
  transition: all 0.4s; 
}
.affix2{
  background: var(--logo-bg,#1d1d1d);
}
/* link hover animation*/
  
.cool-link {
  display: inline-block;
  color: #a8dab5;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #a8dab5;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}

/* ***************************************************
dark mode btn
*************************************************************/
.dark-light-btn {
  height: 26px;
  padding: 0 0 0 0px;
  display: flex;
  justify-content: center;
  align-content: ;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.dark-light-btn{
  padding-right: 1rem;
}

.dark-light-btn spam {
  font-style: italic;
  color: var(--sub-text);
  font-weight: 100;
  font-size: .9em;
  font-family: Open Sans,sans-serif;
  padding-left: 0.2rem;
}
.dark-light-btn i{
  color:var(--bg);
  padding: 5px;
  border-radius: 100%;
  background-color:var(--text);
  line-height: 1;
}

.dark-light-btn:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #15c60e;
  border-radius: 50%;
  margin-left: 10px;
}

.dark-light-btn.inactive:after {
  background: #f72626;
}


/***********************************************************************
 * header section
 **********************************************************************/
 h1{
   font-weight: normal;
 }
#home{
  font-family: 'Paytone One', sans-serif;
  color: var(--text);
  text-align: center;
  /* background-color: var(--bg) */
  background: var(--intro); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}
 .intro {
  height: 80vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 60px;
}
.intro p{
    font-family: 'Mulish', sans-serif; 
    color: var(--sub-text);
    font-weight: 600;
    margin-top: 2rem;
} 
.intro p a{
    text-decoration: none;
    color: var(--text-green);
} 
.intro-box {
  padding: 0.2rem;
  font-size: 1em;
  text-align: center;
}

.intro-box > img {
  width: 200px;
  height: 200px;
  
}

/***********************************************************************
 *  text header
 **********************************************************************/
.header{
    font-family: 'Paytone One', sans-serif;
    font-size: 4rem;
    text-align: center;
    padding: 0 0 2rem 0;
    background-size: 100%;
    background-repeat: repeat;
    background-image: var(--headers);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
}
.header-small{
    font-weight: 900;
}

h3 {
    margin: .8rem 0 .4rem;
    font-weight: bold;
    background-size: 100%;
    color: var(--text-green);

}

.img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: auto 0px;
}

/***********************************************************
technology
***********************************************************/

.box-wrapper1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box1{
  background: none;
  font-size: 1em;
  text-align: center;
  margin: 10px;
  width: 80%;
}

.box1 > p {
  display: block;
  text-align: left;
  font-size: 16px !important;
  letter-spacing: .02em !important;
  text-align: justify;
  line-height: 1.7 !important;
}

.zone {
  /*padding:30px 50px;*/
  cursor:pointer;
  color:var(--text);
  font-size:2em;
  border-radius:4px;
  border:1px solid #bbb;
  transition: all 0.3s linear;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}

.boxgrid {
  background-color: #444;
  margin: 20px;
}

.boxgrid > img {
  width: 100%;
  height: 100%;
}

.boxgrid:hover {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

/*************abouts******************/
.box-wrapper0 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
}
.box0 {
  width: 350px;
  height: auto;
  background: none;
  padding: 1rem;
  font-size: 1em;
  text-align: center;
}

.box0 > img {
  width: 40%;
  height: 200px;
  border-radius: 500px;
  margin-bottom: 1rem;
  
}

.box0 > p {
  display: block;
  text-align: left;
  font-size: 16px !important;
  letter-spacing: .02em !important;
  text-align: justify;
  line-height: 1.7 !important;
} 
h5{
  font-weight: 700;
}
#more {display: none;}
#myBtn{
  background: none;
  color: #099268;
  border: none;
  font-weight: bold;
}
#myBtn:hover{
  color: #099268;
  background-color: none;
}



/***********************************************************************
 *  sections
 **********************************************************************/
.section {
    height: 70%vh;
    background: var(--bg);
    color: var(--sub-text)
}

.section-end{
    padding: 5rem 0rem;
}
.section-end-contact{
    padding: 5rem 0 0 0rem;
}

/***********************************************************************
 *  team card
 **********************************************************************/
.box-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
 .box {
    width: 200px;
    height: auto;
    background: none;
    padding: 1rem;
    font-size: 1em;
    text-align: center;
}

.box > img {
    width: 100%;
    height: auto;
    border-radius: 500px;
    margin-bottom: 1rem;
    
}



/***********************************************************************
 *  Form btn
 **********************************************************************/

.submit-btn{
    display: inline-block;
    background: none;
    color: var(--sub-text);
    font-size: 16px;
    font-weight: 900;
    padding: 1rem;
    border: 1px solid var(--sub-text);
    border-radius: 0.2rem;
    width: 200px;
    cursor: pointer;
    margin: 2rem 0px;
}
.submit-btn:hover{
    color: #099268;
    border: 1px solid #099268;
}
.error{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  
}

#error:empty{
  display: none;
  
}
.success{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

/* ************************************
form style
*************************************/
#form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  max-width: 500px;
  margin :0px auto;
}
label{
  width: 100%;
}
.custom-field {
    position: relative;
    font-size: 16px;
    padding-top: 20px;
    margin-bottom: 5px;
  }
  
  .custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--bg);
    padding: 12px;
    border-radius: 3px;
    width: 100%;
    outline: none;
    font-size: 15px;
  }

  .custom-field textarea {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--bg);
    padding: 12px;
    border-radius: 3px;
    width: 100%;
    outline: none;
    font-size: 15px;
  }
  
  .custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: var(--sub-text);
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
  }
  
  .custom-field input.dirty + .placeholder,
  .custom-field input:valid + .placeholder,
  .custom-field input:focus + .placeholder {
    top: 10px;
    font-size: 13px;
    color: var(--sub-text);
  }

  .custom-field textarea.dirty + .placeholder,
  .custom-field textarea:valid + .placeholder,
  .custom-field textarea:focus + .placeholder {
    top: 10px;
    font-size: 13px;
    color: var(--sub-text);
  }
  
  /* TWO */
  .custom-field.two input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
      linear-gradient(90deg, #5bd485, #5bd485) center bottom/0 0.15em no-repeat,
      linear-gradient(90deg, var(--form), var(--form)) left bottom/100% 0.15em no-repeat,
      linear-gradient(90deg, var(--bg), var(--bg)) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
  }

  .custom-field.two textarea {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
      linear-gradient(90deg, #5bd485, #5bd485) center bottom/0 0.15em no-repeat,
      linear-gradient(90deg, var(--form), var(--form)) left bottom/100% 0.15em no-repeat,
      linear-gradient(90deg, var(--bg), var(--bg)) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
  }
  
  .custom-field.two input.dirty,
  .custom-field.two input:valid,
  .custom-field.two input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
  }

  .custom-field.two textarea:valid,
  .custom-field.two textarea:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
  }

/***********************************************************************
 *  Footer
 **********************************************************************/
 footer{
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--bg);
  color: var(--sub-text);
 }
 .footer {
  background: var(--bg-alt);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
  padding: 2rem 1rem;
  border-radius: 1rem;

  }
  .boxfooter{
    width: 350px;
    height: auto;
    background: none;
    padding: 1rem;
    font-size: 0.9em;
  }
  .boxfooter a i {
    padding-right: 2.5rem;
    font-size: 1.2rem;
  }
  .boxfooter a i:hover {
    color: var(--text-green);
    transition: 1s;
  }
  .footerheader{
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  .footertext{
    color: var(--text-green);
  }

  .copyright {
    background-color: var(--bg);
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

@media (max-width: 988px){
	.navbar{
		padding: 30px 5px;
  }
	.navbar .inner_navbar{
		flex-direction: row;
	}
	.main_container{
		margin-top: 60px;
	}
	.navbar .menu ul{
		position: absolute;
		top: 70px;
		left: 0;
		display: block;
		background: var(--bg);
    width: 100%;
	}
	.navbar .menu ul li{
		padding: 10px;
	}
	.navbar .menu ul li a{
		width: 100%;
		padding: 12px;
	}
	.navbar .burger{
		display: block;
		/* position: absolute; */
		top: 35px;
		right: 25px;
		font-size: 24px;
		color: var(--burger);
		cursor: pointer;
		transition: all 0.2s ease;
	}
	.navbar .burger:hover{
		color: var(--text-green);
	}
	.navbar .menu{
		display: none;
	}
	.navbar .menu.active{
    display: block;
  }
  .dark-light-btn {
    display: block;
    margin-left: auto;
    padding: 0, 15px;

  }
  .dark-light-btn:after {
    margin-left: 2px;
  }
  /* .dark-light-btn i {
    padding: 0, 15px;
  } */
 
  .navbar .menu .trigger .cool-link:hover::after {
    width:0;
  } 
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media only screen and (max-width: 991px){
	.intro h1{
        font-size: 1.5rem;
        padding-top: 1rem;
    }
}

@media only screen and (max-width: 767px){
    .header, .header2{
        font-size: 2.5rem;
        padding: 0 0 3rem 0;
        
    }
}

@media only screen and (max-width: 762px){     
     .affix {
       padding-top: 25px !important;
       padding-bottom: 25px !important;
       -webkit-transition:padding 0.4s linear;
       -moz-transition:padding 0.4s linear;  
       -o-transition:padding 0.4s linear;         
       transition:padding 0.4s linear;  
     }
     .dark-light-btn spam{
      display: none;
    }
     
        
}

@media (max-width: 991px) {
      .box1{
        width: 100%;
        padding: 0px;
        margin: 0px;
      }
      .box0{
        width:auto
      }
      .box0 > img{
        width: 30%;
        height: 200px;
      }
      
  }
  @media (max-width: 550px){
    .intro{
      height: 100vh;
    }
  }

@media (max-width: 450px){
  .grid-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .navbar h1 a{
    font-size:20px;
  }
  .intro{
    height: 100vh;
  }
}
@media (max-width: 330px){
  .navbar h1 a{
    font-size:15px;
  }
  .intro-box h1 {
    font-size: 20px;
  }
  
  .intro-box > img {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
    /* margin-bottom: 0.5rem; */
    
  }

}
@media (max-width: 290px){
  .navbar a{
    font-size:10px;
  }
  .navbar h1{
    padding: 0;
    background: none;
  }
  .navbar h1 a{
    display: none;
  }
}




        

